* {
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
hr {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
   color: #101828;
}
.container {
  width: 1216px;
  margin: auto;
  padding: 0 15px;
  position: relative;
  max-width: 100%;

  // @media(max-width: 1246px) {
  //   max-width: 950px;
  // }

  // @media(max-width: 992px) {
  //   max-width: 750px;
  // }

  // @media(max-width: 767px) {
  //   max-width: 450px;
  // }

  // @media(max-width: 480px) {
  //   max-width: 100%;
  // }
}
.btn-check {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 44px 10px 16px;
  // display: inline-block;
  border: 1px solid #FFFFFF;

  // background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzMwMl84ODM3KSI+CjxwYXRoIGQ9Ik0xMy40NzYzIDkuMTY2NjRMOS4wMDYzNCA0LjY5NjY0TDEwLjE4NDcgMy41MTgzMUwxNi42NjYzIDkuOTk5OThMMTAuMTg0NyAxNi40ODE2TDkuMDA2MzQgMTUuMzAzM0wxMy40NzYzIDEwLjgzMzNIMy4zMzMwMVY5LjE2NjY0SDEzLjQ3NjNaIiBmaWxsPSJ3aGl0ZSIvPgo8L2c+CjxkZWZzPgo8Y2xpcFBhdGggaWQ9ImNsaXAwXzMwMl84ODM3Ij4KPHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=");
  // background-position: right 10px center;
  // background-repeat: no-repeat;

  .header--white &{
    background: #6941C6;
  }
  &:hover {
    background-color: #d76dfa;
  }

  &__arrow {
    margin-left: 8px;
  }
}
.header {
  background-color: #9E77ED;
  border-bottom: 1px solid #FFFFFF;
  &--white {
    background: #fff;
  }
  &__left {
    .header--white &{
        svg path{
          fill: #9E77ED;
        }
    }
  }
  &__box {
    padding: 28px 0;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    list-style: none;
  }
  &__search {
    margin-right: 32px;
    cursor: pointer;

    &:hover path{
      fill:#6941C6;
    }
    .header--white &{
      path {
        fill: #000;
      }
    }
  }
  &__haschild {
    cursor: pointer;
    a:after {
      display: inline-block;
      padding: 3px;
      margin-left: 5px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      content: "";
      transition: 0.3s;
      .header--white &{
        border: solid #000;
        border-width: 0 2px 2px 0;
      }
    }
    &:hover, &.active{
      a:after {
        border: solid #9E77ED;
        border-width: 0 2px 2px 0;
        transform: rotate(-135deg);
      }
    }
  }

  &__link {
    margin-right: 32px;


    &-trigger {
      text-decoration: none;
      color: #FFFFFF;
      .header--white &{
        color: #000;
        &:hover {
          color: #6941C6;
          cursor: pointer;
        }
      }
    }

    &.active {
      .header__link-trigger {
        color: #9E77ED;
      }
    }

  }
  &__btn {
    &:hover {
      background-color: #fff;
      color: #6941C6;
  
      path {
        fill: #6941C6;
      }
    }
  }
}

.dropdown-first {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


  &__content {
    transition: 0.3s;
    
  }
  &--active {
    & .content{
      height: auto;
    }
    &.header__haschild {
        .header__link-trigger {
          color: #6941C6;
    
          &:after {
            display: inline-block;
            padding: 3px;
            transform: rotate(-135deg);
            content: "";
            margin-left: 5px;
            border: solid #6941C6;
            border-width: 0 2px 2px 0;
          }
        }
      }
  }
}
.content{
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101828;

  &__box {
    display: flex;
    align-items: center;
  }
  &__title {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #101828;
  }
  &__left {
    padding: 32px 32px 32px 0;
    min-height: 110px;
    width: calc(100% - 384px);
  }
  &__right {
    position: relative;
    width: 384px;
    padding: 32px 0 32px 32px;
    z-index: 1;
    background: #F9FAFB;

    // &:before {
    //   content: "";
    //   position: absolute;
    //   background: #f9fafb;
    //   left: 0;
    //   top: -32px;
    //   bottom: -32px;
    //   width: 100vw;
    //   z-index: 0;
    // }  
  } 
}
 
.dropdown-second {
  position: relative;
 
  &__content {
    transition: 0.3s;
  }

  &--active {
    & .brand-reviews {
      height: auto;
    }

    &.header__haschild {
      .header__link-trigger {
        color: #6941C6;

        &:after {
          display: inline-block;
          padding: 3px;
          transform: rotate(-135deg);
          content: "";
          margin-left: 5px;
          border: solid #6941C6;
          border-width: 0 2px 2px 0;
        }
      }
    }
  }
}

 .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    gap: 8px;

    &__item {
      border : 1px solid #E4E7EC;
      // background: linear-gradient(68.44deg, #DDD6F3 0%, #FAACA8 100%);
      padding: 4px;
      height: 100%;
    }
 }
.category {
  &__item {
    background: #FFF;
    padding: 80px 16px 16px;
    height: 100%;
  }
  &__heading {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #667085;
  }
  // &__article {
  //   width: calc(25% - 16px);
  // }
  &__link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    &-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #101828;
    }
    &-highlight {
      color: #6941C6;
    }
  }
  &--wrap {
    &-first{
      background: linear-gradient(68.44deg, #DDD6F3 0%, #FAACA8 100%);
    }
    &-second {
      background: linear-gradient(70.03deg, #50C9C3 0%, #96DEDA 100%);
    } 
    &-third {
      background: linear-gradient(70.03deg, #DAE2F8 0%, #D6A4A4 100%);
    }
    &-forth {
      background: linear-gradient(70.03deg, #2BC0E4 0%, #EAECC6 100%);
    }
    &-fifth {
      background:  linear-gradient(70.03deg, #EDE574 0%, #E1F5C4 100%);
    }
    &-sixth {
      background:  linear-gradient(70.03deg, #FF6E7F 0%, #BFE9FF 100%);
    }
    &-seventh {
      background: linear-gradient(70.03deg, #ACB6E5 0%, #86FDE8 100%);
    }
    &-eighth {
      background: linear-gradient(70.03deg, #C9FFBF 0%, #FFAFBD 100%);
    }
  }
}

.rate {
  &__item {
    padding: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E4E7EC;
  }
  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
  // &__right {
  //   // background-position: right 10px center;
  //   // background-repeat: no-repeat;
  //   // background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzMxMF83Mjk3KSI+CjxwYXRoIGQ9Ik0xMy4zMzY3IDcuODQ1TDYuMTY0MTcgMTUuMDE3NUw0Ljk4NTg0IDEzLjgzOTJMMTIuMTU3NSA2LjY2NjY3SDUuODM2NjdWNUgxNS4wMDMzVjE0LjE2NjdIMTMuMzM2N1Y3Ljg0NVY3Ljg0NVoiIGZpbGw9IiM2OTQxQzYiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8zMTBfNzI5NyI+CjxyZWN0IHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4K");
  // }
  &__visit {
    margin-right: 8px;
    text-decoration: none;
  }
}
.brand-reviews {
  // padding: 32px 0;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101828;

  &__box {
    display: flex;
    align-items: center;
  }

  &__title {
    display: inline;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #101828;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    padding: 16px;

    text-decoration: none;
    border: 1px solid #6941C6;
    background-color: #fff;
    color: #6941C6;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;

    &__arrow {
      margin-left: 8px;
    }
  }
  &__links {
    margin: 32px 0;
  }
  &__left {
    padding: 32px;
  }
  
  &__right {
    width: 350px;
    background-color: #D1FADF;
  }
  &__choice {
    // width: 350px;
    padding: 32px 0 32px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.review-website {
  width: 600px;

  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E4E7EC;
  &__link {
    text-decoration: none;
    display: flex;
    &:hover {
      color:#ada4c6;
      path{
        fill: #ada4c6;
      }
    }
  }
    &__pic {
      width: 350px;
    }
}

.main {
  background-color: #9E77ED;
  // padding: 48px 0;
  &__box {
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    width: 45%;
    padding-bottom: 48px;
  }
  &__right {
    height: 100%;
    width: 50%;
    overflow: hidden ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTAyIiBoZWlnaHQ9IjEwNDUiIHZpZXdCb3g9IjAgMCA5MDIgMTA0NSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMzc5Ljc3NCIgeT0iMTA0NC43MyIgd2lkdGg9Ijg2NS4wMyIgaGVpZ2h0PSI1NDAuNjQ0IiB0cmFuc2Zvcm09InJvdGF0ZSgtMTA1IDM3OS43NzQgMTA0NC43MykiIGZpbGw9IiNCNjkyRjYiLz4KPHJlY3QgeD0iNDg0LjMyNyIgeT0iOTg1Ljg5OSIgd2lkdGg9Ijc4NS4xNzIiIGhlaWdodD0iNDkwLjczMiIgdHJhbnNmb3JtPSJyb3RhdGUoLTEyMS43MDEgNDg0LjMyNyA5ODUuODk5KSIgZmlsbD0iIzdGNTZEOSIvPgo8L3N2Zz4K");
  }
  &__girl {
    display: block;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 32px;

    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: #53389E;
    &-highlight {
      display: block;
      color: #FFFFFF;
    }
  }
  &__text {
    margin-bottom: 136px;

    text-align: left;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #6941C6;
  }

  &__btn {
    padding: 16px 72px 16px 32px;
    display: inline-block;
    
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOCAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1LjE2NjggMTguODY3NEwyMS40MjQ4IDEyLjYwOTRMMjMuMDc0NCAxNC4yNTkxTDE0LjAwMDEgMjMuMzMzNEw0LjkyNTc4IDE0LjI1OTFMNi41NzU0NSAxMi42MDk0TDEyLjgzMzQgMTguODY3NFY0LjY2Njc1SDE1LjE2NjhWMTguODY3NFoiIGZpbGw9IiM2OTQxQzYiLz4KPC9zdmc+Cg==");
    background-position: right 32px center;
    background-repeat: no-repeat;
    font-size: 20px;
    line-height: 28px;
    color: #6941C6;
  }
}
.best {
  padding: 32px 0px 80px;
  background-color: #FFFFFF;
  &__box{
    display: flex;
  }
}
.numbers {
  width: 25%;
  margin-right: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #F9FAFB;
  &__img {
    margin-bottom: 32px;
  }
  &__figure {
    font-size: 40px;
    line-height: 52px;
    color: #101828;
  }
  &__group {
    font-size: 20px;
    line-height: 28px;
    color: #98A2B3;
  }
}
.section-title {
  margin-bottom: 32px;

  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: center;
  color: #101828;
  
  &__emphasize {
    margin-left: 7px;
    font-weight: 700;
    color: #6941C6;
  }
}
.reviews {
  background-color: #FFFFFF;
    .swiper {
      overflow: hidden;
    }
}

.site {
  display: block;
  border: 1px solid #E4E7EC;
  position: relative;

  // &:nth-child(2).site__animation{
  //   background-color: #e15306;
  // }

  &__first {
    padding: 32px 32px 0 32px;
    &--green {
      background-color: #D1FADF;
    }
    &--pink {
      background-color: #fce7f6;
    }
    &--blue {
      background-color: #E0F2FE;
    }
    &--purple {
      background-color: #EBE9FE;
    }
    &--orange {
      background-color: #FFEAD5;
    }
    &--98{
     background-color: #F4EBFF;
    }
  }
  &__98 {
    margin-bottom: 415px;
    font-weight: 700;
    font-size: 78px;
    line-height: 104px;
    color: #6941C6;
  }
  &__link {
    justify-content: space-between;
    cursor: pointer;
  }
  &__second {
    padding: 32px;
  }
  &__title {
    margin-bottom: 32px;
  }
  &__service {
    margin-bottom: 8px;

    font-size: 16px;
    line-height: 24px;
    color: #101828;
    &-emphasize {
      color: rgba(0, 0, 0, 0.32);
    }
  }
 
  &__list {
    margin-bottom: 32px;
    list-style: none;
    &-item {
      margin-bottom: 8px;
  
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #101828;
      background: none;
      padding-left: 0;

      &:before {
        content:"";
        background-image: url(./images/check-li.svg);
        width: 14px;
        height: 20px;
        display: inline-block;
        margin-right: 8px;
        background-repeat: no-repeat;
        margin-bottom: -7px;
      }
    }
  }
  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  &__star {
    margin-right: 8px;
  }
  &__customer {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }
  &__comment {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6941C6;
    text-decoration: none;
    &-img {
      margin-right: 8px;
    }
  }
  &__btn {
    margin-right: 32px;
    background-color: #6941C6;;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzMwMl8xMzI4NCkiPgo8cGF0aCBkPSJNMTMuMzM2MiA3Ljg0NUw2LjE2MzY4IDE1LjAxNzVMNC45ODUzNSAxMy44MzkyTDEyLjE1NyA2LjY2NjY3SDUuODM2MTlWNUgxNS4wMDI5VjE0LjE2NjdIMTMuMzM2MlY3Ljg0NVoiIGZpbGw9IndoaXRlIi8+CjwvZz4KPGRlZnM+CjxjbGlwUGF0aCBpZD0iY2xpcDBfMzAyXzEzMjg0Ij4KPHJlY3Qgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=");
    background-position: right 10px center;
    background-repeat: no-repeat;
  }
  &__links {
    display: flex;
    align-items: center;
  }
  &__read {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6941C6;
  }
  &__animation {
    padding: 8px 0;
    background-color: #12B76A;
    height: 32px;
    overflow: hidden;
    &--pink {
      background-color: #EE46BC;
    }
    &--blue {
      background-color: #0BA5EC;
    }
    &--purple {
      background-color: #7A5AF8;
    }
    &--orange {
      background-color:#FB6514 ;
    }
    &-text {
    animation-timing-function: linear;
    animation-name: run;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    transform: translateX(100%);
    color: #FFFFFF;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    display: flex;
    &--grey {
      margin-left: 8px;
      color: rgba(255, 255, 255, 0.56);
    }
    
  }

    &-box {
      white-space: nowrap;
      margin-right: 5px;
    }
  }
}
@keyframes run {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}


.writing-types {
  padding: 80px 0;
  background-color: #fff;

}
.about {
  background: #FFFFFF;
  
  &__box {
    border: 8px solid #F2F4F7;
    padding: 64px 64px 0;
    margin-bottom: 16px;
  }
  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__author {
    margin-bottom: 32px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #D0D5DD;
  }
  &__heading {
    margin-bottom: 32px;
    &-img {
      display: inline;

    }
    &-main {
      display: inline;
      font-style: normal;
      font-weight: 300;
      font-size: 48px;
      line-height: 64px;
      color: #101828;
    }
    &-monica {
      font-weight: 700;
      color: #6941C6;
    }
  }
  &__few-words {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #101828;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
  }

  &__socials {
    display: flex;
    align-items: center;
  }
  &__group {
    text-decoration: none;
    margin-right: 32px;
    &-name {
      font-family: 'IBM Plex Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #6941C6;
    }
  }
  
}
.information {
 
  &__name {
    margin-bottom: 32px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #101828;
    &-explained {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #667085;
    }
  }
}
.guestbook {

  &__box {
    margin-bottom: 16px;
  }
  &__block {
    display: flex;
  }
  &__slide {
    height: 30px;
  }
  &__left {
    width: 45%;
    padding: 32px;
    background-color: #6941C6;
  }
  &__icons {
    margin-bottom: 32px;
  }
  &__text{
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
  }
  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.56);
  }
  &__position {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.56);
  }
  &__right {
    padding: 0 76px 0 32px;
  }
}
.comment {
  padding: 16px;
  overflow: hidden;
  max-height: 200px;

  &__top {
    margin-bottom: 16px;
  }
  &__date {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: #667085;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #101828;
  }
  &__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #101828;
  }
  &__from {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #667085;
  }
}
.more {
  &__box {
  background-color: #fff;
  }

  &__btn {
    margin-bottom: 80px;
    padding: 32px 96px 32px 32px;
    background: #F4EBFF;
    color: #6941C6;
    display: block;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIxLjU2MjMgMTQuNjY2N0wxNC40MTAzIDcuNTE0NjdMMTYuMjk1NyA1LjYyOTMzTDI2LjY2NjMgMTZMMTYuMjk1NyAyNi4zNzA3TDE0LjQxMDMgMjQuNDg1M0wyMS41NjIzIDE3LjMzMzNINS4zMzMwMVYxNC42NjY3SDIxLjU2MjNaIiBmaWxsPSIjNjk0MUM2Ii8+Cjwvc3ZnPgo=");
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
}

.menu-drop {
  opacity: 0;
  z-index: -999;
  visibility: hidden;
  position: absolute;
  transition: 0.3s;
  width: 100%;

  &.open {
    opacity: 1;
    z-index: 9999;
    visibility: visible;
  }

  &__content {
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    visibility: hidden;
    &.active {
      opacity: 1;
      position: relative;
      visibility: visible;
    }
  }
}
.blog {
  margin-bottom: 16px;
  // &__slider {
    
  //   // display: flex;
  //   // gap: 16px;
  //   // background-color: red;
  //   // font-size: 30px;
  // }
}

// .swiper-pagination3 {
//   background-color: red;
// }
.paper {
  width: 300px;
  border: 1px solid #E4E7EC;

  &__info {
    padding: 16px 16px 32px;
  }
  &__date {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: #667085;
  }
  &__name {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #101828;
  }
  &__like {
    display: flex;
  }
  &__number-likes {
    margin-left: 4px;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #667085;
  }
  &__read {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    padding: 10px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #6941C6;
  }
}
.subscribe {
  &__title {
    margin-bottom: 8px;

    &-highlight {
      margin: 0 7px 0 0;
    }
  }
  &__text {
    margin-bottom: 32px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #667085;
  }
}
.form {
  padding-bottom: 80px;
  &__input {
    position: relative;
    display: block;
    width: 100%;
    padding: 32px;
    border: 1px solid #98A2B3;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    color: #98A2B3;
  }
  &__btn {
    cursor: pointer;
    position: absolute;
    top: 160px;
    right: 50px;
    padding: 16px 76px 16px 32px;
    color: #fff;
    background: #6941C6;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    background-position: 140px center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOCAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjY2NjkgMTcuNzAwNkwyMi4zOTA5IDYuOTc1NDZMMjQuMDQxNyA4LjYyNTEzTDExLjY2NjkgMjFMNC4yNDIxOSAxMy41NzUzTDUuODkxODUgMTEuOTI1NkwxMS42NjY5IDE3LjcwMDZaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");
    &:hover {
      background-color: #3f247f;
    }
  }
}

.footer {
  padding: 32px 0 36px;
  background-color: #F2F4F7;
  &__bottom {
    padding-top: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    border-top: 1px solid #E4E7EC;
  }
  &__img {
    margin-right: 32px;
  }
  &__copyright {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #98A2B3;
  }
  &__services {
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
  }
}
.list {
  padding: 48px 0;
  width: calc(34.5%-48px);

  &:nth-child(3n) {
    width: 23%;
  }
  
  &__title {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #E4E7EC;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #101828;
  }
  &__item {
    margin-bottom: 12px;
    list-style: none;

    &-link {
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #101828;
  }
}